<p>Hello,</p>

<p>Click the following link to log in to your <a href="<%= Enum.join([AsciinemaWeb.Endpoint.url, "/", System.get_env("RAILS_RELATIVE_URL_ROOT")],"") %>">Asciinema kubernetes deployment</a>:</p>

<p><a href="<%= @login_url %>"><%= @login_url %></a></p>

<p>
  <br>
  If you did not initiate this request, just ignore this email. The request will expire shortly.
</p>
